body
{
  background-image: url("background.jpeg");
  background-attachment: fixed;
}

.background
{
  margin-top: -500px;
  height: 1000px;
  position: fixed;
  width: 100%;
  
}

body
{
  /*background-color: #265B6A;*/
  /*background-repeat: no-repeat;*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*font-family: algerian;  doesn't work */
}

h1
{
  color: white;
}

.videoframe
{
  border-radius: 100%;
}