body
{
  /*background-image: url("background.jpeg");
  background-attachment: fixed;*/
  background-color: #333fe8;
  
}

.background
{
  margin-top: -500px;
  height: 1000px;
  position: fixed;
  width: 100%;
}

nav
{
  top: 0;
  position: fixed;
}

body
{
  /*background-color: #265B6A;*/
  /*background-repeat: no-repeat;*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*font-family: algerian;  doesn't work */
}

h1
{
  font-size: 48pt;
  color: white;
}

p
{
  font-size: 20pt;
  color: white;
}

/*.videoframe
{
  border-radius: 100%;
}*/
